
.btnContainer{
    display:flex;
    justify-content:center;
    align-items: center;
}
.luckydrawBtn{
    background-color:#FFFFFF !important;
    color:black !important;
    margin-right:4vmax !important;
    width:270px;
    height:55px;
    border-radius:100px !important;
}
.pointsBtn{
    width:220px;
    font-weight:700 !important;
    border-radius:30px !important;
    height:47px;
    font-family:'Montserrat' !important;
    font-size:1.2vmax !important;
    margin-right:1vmax !important;
    background:white !important;
    color:#50B5D9 !important;
}
.eventCard{
    width:50%;
    background:linear-gradient(to right,#11aa9b,#4FD2C2) !important;
    padding:3vmax;
    /* border-radius:10px !important; */
}
.location{
    font-size:2vmax !important;
    width:67%;
}
.sponsor{
    font-size:2vmax !important;
}
.activitesHeading{

    font-size: 2vmax !important;
    margin: 2vmax 0vmax 2vmax 2vmax !important;

}
.sponserHeading{
    font-size: 2vmax !important;
    margin: 2vmax 0vmax 2vmax 4vmax !important;
}

.activitiesCard{
    display: flex;
    color: white !important;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to top,#5659C4, #6164CF) !important;
    padding: 2vmax;
    margin:0 2vmax;
    border-radius: 10px !important;
    height: 300px;
    position: relative;
}

.sliderImage{
    width:106px !important;
}
.sponsoredBy{
     font-size: 1.5vmax !important;
     font-weight: 100 !important; 
}
.activityType{
    font-size: 2.6vmax !important;
                text-align: center;
                height: 100px;
                display: flex;
                align-items: center;
                margin:1vmax 0 !important; 
}
.sponserBox{
    position:absolute;
    bottom:17px;
    text-align:center;
}
.sponserName{
    font-size: 3vmax !important;
    text-align: center;
    line-height: 1 !important;
    color: orange; 
}
.sponserImage{
    width: 150px;
}
.sponserSlider div div {
    display:flex !important;
    justify-content:center !important;
    align-items: center;
}
.sponsorsContainer{
    margin-top: 3vmax;
            width:100vw;
            max-width:100%;
            margin:0;
            padding:1.5vmax 0;
            background:#D9D9D9;
}
.addBtnContainer{
    position:fixed !important;
    right:10px;
    bottom:10px;
    background:linear-gradient(to top,#5185FF,#39ebdc);
}
.addBtn{
    padding:1vmax;
    color:white;
}
.joinAsModal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    opacity:0.9;
      border: none;
      border-radius:15px;
    /* boxShadow: 24; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slideCenter .slick-slide > div:nth-child(1) {
    display:flex;
    justify-content: center;
}


@media screen and (max-width:600px) {
    .font{
        font-size: 3vmax !important;
    }
    .btnContainer{
    width: 100%;
    margin-bottom: 2vmax !important;
}
.luckydrawBtn{
    height:45px;
    width:230px;
    margin-right:0px !important;
    margin-left: 2vmax !important;
}
.pointsBtn{
    width:125px;
    font-weight:800 !important;
    border-radius:30px !important;
    height:37px;
    font-family:'Montserrat';
    font-size:1.4vmax !important;
    margin-right:1vmax;
    background:white !important;
    color:#50B5D9 !important;
}
.eventCard{
    width:80%;
    margin:2vmax 0 !important ;
}
.location{
    font-size:2vmax;
    width: 70%;
}
.sponsor{
    font-size:2vmax !important;
}
.activitiesCard{
    height: 150px;
    margin:0 0.5vmax;
    padding: 1vmax;

}
.sliderImage{
    padding:1vmax 0;
    width:52px !important;
}

.sponsoredBy{
    margin: 0.5vmax 0;
     font-size: 1.7vmax !important; 
}
.activityType{
    font-size: 2.5vmax !important;
                text-align: center;
                margin:1vmax 0 !important;
                line-height: 1; 
                padding:0 1vmax ;
                height: auto;
                display: flex;
                align-items: flex-start;
}
.sponserBox{
bottom:10px
}
.sponsorsContainer{
padding: 2vmax 0;
}
.sponserName{
    line-height: 1 !important;
    font-size: 3.2vmax !important;
}
.sponserImage{
    width: 80px;
}
.activitesHeading{
    font-size: 3vmax !important;
    font-weight: 600 !important;
}
.sponserHeading{
    font-size: 3vmax !important;
    font-weight: 600 !important;
}
.joinAsModal{
    width:80vw
}

}