.merchandizeCard{
    width:100%;
    height:90%;
    padding:16px 0 !important;
    background:linear-gradient(to right, #FCB017,#F47D20);
    border-radius:5px !important
}
.merchandizeImg{
    width:160px;
    height:auto
}
.merchandizeTitle{
    font-size:2vmax !important;
    padding:8px 8px !important;
}
.merchandizeDesc{
    font: size 1.2vmax !important;;
    padding:8px 8px 24px 8px !important
}
@media screen and (max-width:600px) {
.merchandizeCard{
    padding:8px 0 !important;
    background:linear-gradient(to right, #FCB017,#F47D20);
    border-radius:5px
}
.merchandizeImg{
    width:74px;
    height:auto
}
.merchandizeTitle{
    font-size:2.5vmax !important;
    padding:0px 8px 0px 8px !important;
}
.merchandizeDesc{
    font-size:1.6vmax !important;
    padding:0 8px 0px 8px !important
}
}